@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,400;0,8..144,500;1,8..144,400&display=swap');
html {
    font-size: 100%;
}





/* etiquetas */



body{
    background-color: rgb(232, 234, 225);
}

h1{
    color:chocolate;
    font-size: 4em;
    font-family: 'Roboto Serif', serif;
    font-weight: 500px;    
    padding: 100px;
       
    
   
  
    

}

h2{
    color: magenta;
    font-size: 3em;
    font-family: 'Roboto Serif', serif;
    font-weight: 400;
    padding: 50px;
}

p{
    color: crimson;
    font-size: 1.5em;
    font-family: 'Roboto Serif', serif;
    font-weight: 400;
    line-height: 2em;
    padding: 50px;
    
}


h3{
    color: rgb(7, 7, 7);
    font-size: 5em;
    font-family: 'Roboto Serif', serif;
    font-weight: 400;
    padding: 50px;
    font-weight: bolder;
    
}


label{
    color: blue;
}



form{

    padding: 50px;
    font-size: 1.5em;
}

footer{

    background-color: aqua;
    padding: 100px;
}



/* selectores de clases */

.text-left{
        text-align: left;

}

.text-center{
        text-align: center;
}

.text-right{
        text-align: right;

}

.navtop{

    font-size: 3em;
}

   




    /* productos */








    
    
    
    
   


.titulo{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto Serif', serif;
}



.text{
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto Serif', serif;
}

.comprarahora{
    background-color: turquoise;
    font-weight: bold;
    font-size: 25px;
    margin: 30px;
    
    


}

.productos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 200px;
   
    
    
    

}



.navfooter{
    text-align: right;
    background-color: aqua;
    font-size: 1em;
}


/* css de tarjetas */


.tarjeta{
    display: flex;
    width: 920px;
    height: auto;
    margin: 30px auto;
}
.box{
    width: 32%;
    height: auto;
    border: 1px solid #ccc;
    margin-right: 1%;
    background: white;
    border-radius: 10px;
    transition: 0.9;
    background-color: lightcoral;
}
.box:hover{
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.5);
    cursor: pointer;
}



p{
    font-size: 15px;
    padding: 0 5px;
}
@media (max-width: 800px){
    .tarjeta{
        width: 100%;
    }

    h1{ width: 100%;
    font-size: 2em;}
    h2{ width: 100%;
        font-size: 2em;}
        h3{ width: 100%;
            font-size: 2em;}
        }
   



@media (max-width: 600px){
    .tarjeta{
        width: 85%;
        display: block;
    }
    .box{
        width: 100%;
        margin-bottom: 4%;
    }
}
/* selectores de ID */







