@media (max-width: 400px){

    .contacto{
        @include bptitulos;
    }
    
    .nosotros{
        @include bptitulos;
    }

    .productos{
        @include bptitulos  
    }

    .tituloprincipal{
        @include bptitulos      
    }

    .nuestroslocales{
        @include bptitulos
    }

            .tarjeta{
                width: 50%;
                display: block;
                margin: auto;
            }
        
            .tarjeta img{
                width: 100%;
            }
            .tarjeta .box{
                width: 100%;
                margin-bottom: 4%;
            }
        }