

/* maps */

@mixin textos ($size, $color, $weight) {
    font-size: $size;
    color: $color;
    font-weight: $weight;
    text-align: center;
    font-family: sans-serif;           
    line-height: 2em;
    padding: 50px;
       
   
}





   



/* paleta de colores  */

$paleta:(

'uno': white,
'dos': black,
'tres': turquoise,
'cuatro': rgb(232, 234, 225),
'cinco': chocolate,
'seis': magenta,
'siete': crimson,
'ocho': rgb(7, 7, 7),
'nueve': blue,
'diez': aqua,
'once': lightcoral,
'doce':  rgba(255, 166, 0, 0.466),
'trece': #fff,
'catorce': aqua,
)

