/* navtop */

.navtop{

    font-size: 3em;
    
}

/* navfooter */

.navfooter{
    text-align: right;
    background-color: aqua;
    font-size: 1em;
}

/* boton de subir  */

.subir{
    height: 40px;
    width: 40px;
    background-color: rgba(255, 166, 0, 0.466);
    position: fixed;
    right: 50px;
    bottom: 50px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 25px;

}