/* variales globales */

/* colores */
$mainColor: rgb(232, 234, 225);
$secondaryColor: chocolate;
$keyColor: magenta;


/* fonts */

$mainFont: 'Roboto', sans-serif;
$textSm: 1.5em;
$textMd: 3em;
$textLg: 4em;
$textBold:700;
$textLight:300;


