/* imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,400;0,8..144,500;1,8..144,400&display=swap');
@import "_vars";
@import "_mixins";
@import "_commons";
@import "_nav";
@import "_productos";

/* resoluciones de cel */





@media (max-width: 400px){


    .productos{
        margin: -50px;    
    }

    .tituloprincipal{
        margin: -50px;
              
    }
            .tarjeta{
                width: 50%;
                display: block;
                margin: auto;
            }
        
            .tarjeta img{
                width: 100%;
            }
            .tarjeta .box{
                width: 100%;
                margin-bottom: 4%;
            }
        }
            
          

          
            
           
                   